<!----------------------------
This View is for the Home Page showcasing
what the project is about and who developed it.
----------------------------->

@{
    ViewData["Title"] = "Home Page";
}

<!--Welcome message-->
<div class="text-design">
<div class="text-center">
    
    <h1 class="display-4">Organisation Management System</h1>
    <p>Welcome to the organisation management system for InnovationStar</p>
    <br>
</div>

<!--Display Information About Subscription-->
<div class="text-left">
    <h3 class="display-15">Subscriptions</h3>
    <p>Free Trial: 7 days free trial</p>
    <p>Standard Plan: 15.00 AUD per user</p>
    <p>Premium Plan: 25.50 AUD per user</p>
    <p>Enterprise Plan: 35.00 AUD per user</p>
</div>
<br>
<!--Information about developer-->
<div class="text-left">
    <h3 class="display-15">This system is developed by:</h3>
    <p>Full name: Johanne Christiana</p>
    <p>Student ID: S4675880</p>
    <p>Location: Footscray Park, Campus</p>
    <p>Unit: NIT3112 Advanced Web Application Development</p>

</div>
</div>
